/* Your app custom styles here */

.md .navbar-inner-spacing {
  justify-content: space-between;
}

.navbar ~ .page:not(.no-navbar) .toolbar-top {
  top: initial;
}

.weekday-madrasah-on .calendar-day-number {
  background-color: gold;
}

.calendar-day-today.weekday-madrasah-on .calendar-day-number {
  background-color: goldenrod;
  color: gold;
}

.calendar-day-today.calendar-day-selected.weekday-madrasah-on
  .calendar-day-number {
  background-color: var(--f7-calendar-selected-bg-color, var(--f7-theme-color));
}

.class-list-item {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: no-repeat center/80%, #eee;
}

.add-button {
  z-index: 20000;
  text-align: center;
  bottom: 30px;
}
