.home {
  position: relative;
}
.home::after {
  content: '';
  background: url('../static/images/manifest-icon-512.png') center/contain
    no-repeat;
  opacity: 0.05;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.button-bar .toolbar-inner {
  padding-left: 5%;
  padding-right: 5%;
}

.button-bar .button {
  min-width: 30%;
}

.button-bar.toolbar-transitioning {
  display: none;
}

.settings {
  margin: 3px 0 -32px;
}

.inline-labels .item-label {
  width: 20%;
}

.sort-icon {
  margin-left: 15px;
  color: gray;
}

table.student-info {
  border-collapse: collapse;
  width: 100%;
}
table.student-info tr th,
table.student-info tr td {
  border: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
}
table.student-info tr th {
  text-align: left;
}

table.teachers-updates-table {
  text-align: center;  
  border-collapse: collapse;
  width: 100%;
}

table.teachers-updates-table {
  border: 1px solid rgba(10,10,10,1)
}
table.teachers-updates-table tr td,
table.teachers-updates-table tr th {
  border: 1px solid rgba(100,100,100,0.1)
}

table.teachers-updates-table tr th:first-child,
table.teachers-updates-table tr td:first-child {
  text-align: left;
  padding: 2px 4px;
}

table.teachers-updates-table tr td[data-count="0"] {
  color: red;
}

table.teachers-updates-table tr td[data-count="1"] {
  background-color: orange;
}

table.teachers-updates-table tr td[data-count="2"] {
  background-color: lightgreen;
}
