.user-profile {
  color: gray;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin: 0 var(--f7-navbar-title-margin-left);
}

.user-profile .text-block {
  text-align: right;
  margin-right: calc(var(--f7-navbar-title-margin-left) / 2);
}

.user-profile .item-title {
  font-size: small;
  text-overflow: ellipsis;
}

.user-profile .item-subtitle {
  font-size: x-small;
}

.user-profile img {
  height: 40px;
  border-radius: 50%;
}
